@import "tailwindcss";


body {
  scroll-behavior: smooth!important;
}

.hero-grid-bg {
  background-image: 
    linear-gradient(rgba(161, 161, 170, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(161, 161, 170, 0.05) 1px, transparent 1px);
  background-size: 30px 30px;
}

 .grid-dots {
            background-color: #fff;
            background-image: radial-gradient(circle, #7a65a4 1px, transparent 1px);
            background-size: 40px 40px;
            background-position: 20px 20px;
}

   .grid-subtle {
            background-color: #fff;
            background-image: 
                linear-gradient(rgba(161, 161, 170, 0.05) 1px, transparent 1px),
                linear-gradient(90deg, rgba(161, 161, 170, 0.05) 1px, transparent 1px);
            background-size: 30px 30px;
        }

         .geo-diagonal {
            background-color: #fff;
            background-image: linear-gradient(45deg, transparent 40%, rgba(100, 116, 139, 0.1) 50%, transparent 60%);
            background-size: 60px 60px;
        }

        /* Geometric Lines 2 - Cross Pattern */
        .geo-cross {
            background-color: #fff;
            background-image: 
                linear-gradient(rgba(100, 116, 139, 0.1) 2px, transparent 2px),
                linear-gradient(90deg, rgba(100, 116, 139, 0.1) 2px, transparent 2px);
            background-size: 80px 80px;
            background-position: -1px -1px;
        }

         

        .double-frame {
            position: relative;
            border-radius: 20px;
            overflow: hidden;
        }

        .frame-outer {
            padding: 8px;
            background: linear-gradient(45deg, #8b5cf6, #14b8a6);
            border-radius: 24px;
        }

        .frame-inner {
            padding: 4px;
            background: #212121;
            border-radius: 16px;
        }

        
@media (max-width: 768px) {
  #contact {
    opacity: 1 !important;
    transform: none !important;
  }
}


.cursor-ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #8687e7;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: width 0.2s ease, height 0.2s ease, border-width 0.2s ease,
    background-color 0.2s ease, transform 0.1s ease-out;
}

/* Enlarged ring on hover/focus */
.cursor-ring--hover {
  width: 80px; /* bigger */
  height: 80px;
  border-width: 3px;
  background-color: rgba(52, 152, 219, 0.1);
}

@media (max-width: 768px) {
  .cursor-ring {
    opacity: 0;
  }
}


/* 
deep charcoal - #1a1a1a or #212121
pure white - #ffffff
vibrant orange - #ff4500 or #e53e3e
warm orange - #ff6347 or #ff5733
dark gray - #2a2a2a or #333333
medium gray - #666666 or #757575
ligh gray #cccccc
gray -#979797

*/